@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.mat-tab-group 
	display: flex
	flex-direction: column
	background: #fff
	height: 500px
	width: 800px
	margin: auto
	margin-top: 20px
	color: black
	padding: 10px
	box-shadow: 5px 2px 10px #000
.order-actions
	margin: 10px
	.mat-raised-button
		margin-left: 10px
table
	width: 100%
	th.mat-sort-header-sorted
		color: black
	tr.mat-footer-row
		font-weight: bold
	.mat-table-sticky
		border-top: 1.5px solid #0e0e0e
		border-bottom: 1.5px solid #0e0e0e
		background: #fdedff
	tr:hover
		background: #f5f5f5
	tr:active
		background: #efefef

		
		
