<mat-card>


    <mat-card-content>
        <mat-card-header class="titulo">
        <mat-card-title><h3 color="primary">New Customer</h3></mat-card-title>
        </mat-card-header>
        <mat-form-field class="full-width">
            <input matInput placeholder="E-Mail" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint align="end"> Hint: email@domain.com</mat-hint>
            <mat-error align="end" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid Email Adress
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="First">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Last">
        </mat-form-field>

        <mat-form-field>
            <textarea class="full-width" matInput placeholder="Adress"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <span matPrefix>1+</span>
            <input matInput placeholder="Phone">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Fax">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary">Add Customer</button>

        </mat-card-actions>

    </mat-card-content>

</mat-card>