<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Diego Navarro</mat-card-title>
        <mat-card-subtitle>lDiegonm10@gmail.com</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cards/Tales-of-Arise-1-810x400.jpg" alt="Profile">
    <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptates blanditiis fugiat est non eius quaerat, at iusto consequuntur soluta repudiandae debitis a aperiam, fugit culpa enim molestiae sit aut.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="warn">DELETE</button>

        <div class="flex-spacer"></div>

        <button mat-icon-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>
</mat-card>