.mat-card
    max-width: 300px
    margin: auto
    margin-top: 30px
    &:hover
        box-shadow: 3px 3px 10px rgba(10,20,50)

.mat-card-avatar
    background-image: url '/assets/img/cards/Tales-of-Arise-1-810x400.png'
    background-size: cover
 
.mat-card-actions
    display: flex

.mat-card-actions .flex-spacer
    width: 100%