<div class="container">
  <h1 class="mat-display-2">Mat Grid List & Mat Typo</h1>
  <mat-grid-list cols="3" gutterSize="20px" rowHeight="300px: 300px">
    <mat-grid-tile colspan="2" rowspan="1">
      <h1 class="mat-h1 mat-headline">Mat HeadLine</h1>

    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <h2 class="mat-h2 mat-title">Mat-Title</h2>

    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <h3 class="mat-h3 mat-subheading-2">Mat subHeading-2</h3>

    </mat-grid-tile>
    <mat-grid-tile>
      <h4 class="mat-h4 mat-subheading-1">Mat subHeading-1</h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <p class="mat-body-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt fuga perspiciatis
        adipisci illo repellat beatae ea nobis reprehenderit nihil, deserunt, voluptas rem eligendi obcaecati? Sit,
        facere reprehenderit! Eaque, odit placeat.</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"><p class="mat-body-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto qui dolor repellat. Reprehenderit et tenetur numquam ratione quam dolores, sed illum cumque sequi quod soluta provident. Eaque quibusdam tenetur repellat?</p></mat-grid-tile>

  </mat-grid-list>
</div>
